*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin: 1rem 0;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

/* ----------------------- */
/* buttons */
/* ----------------------- */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  opacity: 0.9;
}
.btn-primary {
  color: var(--white-color, #fff);
  background-color: var(--primary-color, #007bff);
}
.btn-secondary {
  color: var(--white-color, #fff);
  background-color: var(--secondary-color, #6c757d);
}
.btn-success {
  color: var(--white-color, #fff);
  background-color: var(--success-color, #28a745);
}
.btn-danger {
  color: var(--white-color, #fff);
  background-color: var(--danger-color, #dc3545);
}
.btn-warning {
  color: var(--white-color, #fff);
  background-color: var(--warning-color, #ffc107);
}
.btn-dark {
  color: var(--white-color, #fff);
  background-color: var(--dark-color, #343a40);
}
.btn-outline {
  background: transparent;
  border: 1px solid var(--white-color, #fff);
  color: var(--white-color, #fff);
}
.btn-outline-primary {
  background: transparent;
  border: 1px solid var(--primary-color, #007bff);
  color: var(--dark-color, #343a40);
}
.btn-outline:hover,
.btn-outline-primary:hover {
  background: var(--primary-color, #007bff);
  border: none;
  color: var(--white-color, #fff);
}
